* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    z-index: 0;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    color: #3E3E3E;
    font-size: 3rem;
}

.sub-heading {
    font-size: 1.125rem;
    color: #7B7B7B;
    font-weight: normal;
    text-align: center;
    margin-bottom: 1.25rem;
}


.sub-heading a {
    color: #0986CC;
}

.sub-heading a:hover {
    text-decoration: underline;
}

/* Add New Book Button + Animation */

.add-new-book {
    width: 50px;
    border-radius: 25px;
    background: none;
    transition: width .5s ease;
    background-color: #0986CC;
    border: none;
    color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    margin: 0 auto;
}

.add-new-book span {
    white-space: nowrap;
    transition: all ease .3s;
    opacity: 0;
    font-size: 16px;
    margin-left: 20px;
    /* line-height: 20px; */
}

.add-new-book i {
    transform: translateX(3px);
}

.add-new-book:hover {
    width: 140px;
    /* justify-content: space-around; */
}

.add-new-book:hover span {
    opacity: 1;
    /* transition-delay: .3s; */
    transition: all ease .3s;
}

button {
    border: none;
    font-weight: bold;
    padding: 15px;
    display: block;
    cursor: pointer;
    border-radius: 3px;
}

button:focus {
    outline: none;
}

.books {
    width: 80%;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.title-bar {
    background-color: #0986CC;
    height: 4.0625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.book-title {
    color: white;
}

.edit-icon {
    color: white;
    margin-left: 0.9375rem;
    cursor: pointer;
}

.book-card>h4 {
    margin-top: 0.9375rem;
    color: #000000;
    font-size: 1.125rem;
}

.book-card>p {
    font-size: 1rem;
    margin-top: 0.3125rem;
}

.book-card {
    background-color: #F3F3F3;
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 3px;
    margin-right: 10px;
    margin-bottom: 2.5rem;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

#add {
    padding: 15px 25px;
    margin-bottom: 1.875rem;
    background-color: #0986CC;
    color: white;
}

.remove-book {
    color: #000000;
    text-decoration: underline;
    background-color: transparent;
    font-weight: normal;
    margin-left: 1.25rem;
}

.book-buttons {
    display: flex;
    margin: 1.875rem auto 1.25rem auto;
}

.read {
    border-radius: 3px;
    padding: 0.8125rem 1.5625rem;
    font-size: 1rem;
}

.haveRead {
    background-color: #2AC564;
    color: white;
}

.haventRead {
    background-color: #D64933;
    color: white;
    padding: 0.8125rem 0.5625rem;
}

footer {
    font-size: 1.125rem;
    color: #7B7B7B;
    margin-bottom: 1.25rem;
    margin-left: 0.9375rem;

}


.popup-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
    width: 40%;
    height: 55%;
    align-items: center;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

#x {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #D64933;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }

.form-title {
    margin-top: 1.875rem;
    font-size: 3rem;
    color: #3E3E3E;
    
}

#input-title {
    margin-top: 1.875rem;
}

.form-input {
    width: 60%;
    margin-bottom: 0.9375rem;
    padding: 15px;
    color: #000000;
    border: 1px solid #9D9D9D;
}

.form-read-container-buttons {
    display: flex;
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;
}

.form-read-container-buttons > button {
    padding: 0.625rem 1.875rem;
    font-weight: normal;
    background-color: transparent;
    border: 1px solid #9D9D9D;

}

.form-read-container-buttons > button:hover {
    background-color: #C4C4C4;
    color: white;
}

.selected {
    background-color: #C4C4C4 !important;
    color: white;
}

#noButton {
    margin-left: 1.25rem;
}

.form-input:focus {
    outline: none;
}

.display-none {
    display: none;
}


@media only screen and (max-width: 1550px) {
    .book-card {
        width: 23%;
    }
}

@media only screen and (max-width: 1300px) {
    .book-card {
        width: 26%;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 1200px) {
    .book-card {
        width: 30%;
    }
}

@media only screen and (max-width: 1000px) {
    .book-card {
        width: 35%;
    }
}

@media only screen and (max-width: 850px) {
    .book-card {
        width: 40%;
    }
}

@media only screen and (max-width: 750px) {
    .book-card {
        width: 45%;
    }
}

@media only screen and (max-width: 650px) {
    .book-card {
        width: 60%;
        margin-right: 0;
    }

    footer {
        text-align: center;
    }
}
@media only screen and (max-width: 500px) {
    .book-card {
        width: 80%;
    }
}